<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="box">
    <p><%= @question %></p>
    <p>-You</p>
  </div>

  <div class="box coach">
    <p><strong><%= @answer %></strong></p>
    <p>-Your Coach</p>
  </div>

  <%= link_to "Go back", ask_path %>
</div>