// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#input {
  padding: 5px 122px;
}

.container {
  margin: 20px auto;
}

.box {
  margin: 37px auto;
  padding: 14px 24px;
  border-left: 10px solid lightgrey;
}

.coach {
  background-color: cornsilk;
}
